transformers
torch
lm-eval==0.3.0
# For the paper results use the old lm_eval (0.3.0)
# git+https://github.com/EleutherAI/lm-evaluation-harness.git@008fc2a23245c40384f2312718433eeb1e0f87a9
tiktoken
transformers_stream_generator
peft
sentencepiece
einops
accelerate
datasets
protobuf
auto-gptq
openpyxl
wandb
py-cpuinfo

